ErrorDocument 404 /404.html
RewriteEngine On
RewriteRule ^akcie/?$ /#podujatia [R=301,NE,L]
RewriteRule ^(sutaz|pravidla)/?$ / [R=302,L]
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType text/css "access plus 1 week"
  ExpiresByType application/javascript "access plus 1 week"
</IfModule>
